<section class="users-new">
  <h1 class="">Registration</h1>
  <form class="form" novalidate name="usersNewForm" id="form">
    <input type="text"
           name="name"
           class="form-control"
           placeholder="Name"
           ng-model="user.name"
           validator="required"
           valid-method="submit-only"
           invalid-callback="invalid('Please, fill in name field')">
           
    <input type="text"
           name="email"
           class="form-control"
           placeholder="Email"
           ng-model="user.email"
           validator="email"
           valid-method="submit-only"
           invalid-callback="invalid('Please, provide valid email')">

    <input type="password"
           name="password"
           class="form-control"
           placeholder="Password"
           ng-model="user.password"
           validator="required"
           valid-method="submit-only"
           invalid-callback="invalid('Please, enter a right password. Password should contain at least 8 characters')">

    <button class="btn"
            ng-click="submit()"
            validation-submit="usersNewForm">Register</button>
  </form>
  <a ui-sref="users.sessions.new" class="under-form-link">Sign in to an existing account</a>
</section>
<footer></footer>